@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@layer base {
	:root {
		--background: var(--color-white);
		--foreground: var(--color-stone-950);
		--card: var(--color-white);
		--card-foreground: var(--color-stone-900);
		--popover: var(--color-stone-50);
		--popover-foreground: var(--color-stone-900);
		--primary: var(--color-teal-600);
		--primary-foreground: var(--color-teal-50);
		--secondary: var(--color-stone-950);
		--secondary-foreground: var(--color-stone-50);
		--muted: var(--color-stone-200);
		--muted-foreground: var(--color-stone-600);
		--accent: var(--color-stone-800);
		--accent-foreground: var(--color-stone-100);
		--destructive: var(--color-red-600);
		--destructive-foreground: var(--color-red-50);
		--warning: var(--color-amber-600);
		--warning-foreground: var(--color-amber-50);
		--info: var(--color-indigo-600);
		--info-foreground: var(--color-indigo-50);
		--border: var(--color-stone-200);
		--input: var(--color-stone-200);
		--ring: var(--color-stone-300);
		--radius: 0.5rem;
		--chart-1: var(--color-teal-600);
		--chart-2: var(--color-red-600);
		--chart-3: var(--color-amber-600);
		--chart-4: var(--color-indigo-600);
		--chart-5: var(--color-stone-600);
		--sidebar-background: var(--color-stone-100);
		--sidebar-foreground: var(--color-stone-950);
		--sidebar-primary: var(--color-stone-950);
		--sidebar-primary-foreground: var(--color-stone-50);
		--sidebar-accent: var(--color-stone-700);
		--sidebar-accent-foreground: var(--color-stone-100);
		--sidebar-border: var(--color-stone-200);
		--sidebar-ring: var(--color-stone-300);

		/* payloadcms */
		--theme-elevation-0: hsl(0 0% 100%);
		--theme-elevation-50: var(--color-stone-50);
		--theme-elevation-100: var(--color-stone-100);
		--theme-elevation-200: var(--color-stone-200);
		--theme-elevation-300: var(--color-stone-300);
		--theme-elevation-400: var(--color-stone-400);
		--theme-elevation-500: var(--color-stone-500);
		--theme-elevation-550: var(--color-stone-600);
		--theme-elevation-600: var(--color-stone-600);
		--theme-elevation-700: var(--color-stone-700);
		--theme-elevation-800: var(--color-stone-800);
		--theme-elevation-900: var(--color-stone-900);
		--theme-elevation-950: var(--color-stone-950);
		/* payloadcms variables */
		--theme-bg: var(--theme-elevation-50);
		--theme-input-bg: var(--theme-elevation-0);
		--theme-text: var(--theme-elevation-950);
		--theme-overlay: rgba(5, 5, 5, 0.5);
		--font-body: "var(--font-geist-sans)", system-ui;
		--font-mono: "var(--font-geist-mono)", monospace;
		--font-serif: serif;
		--style-radius-s: calc(var(--radius) - 4px);
		--style-radius-m: calc(var(--radius) - 2px);
		--style-radius-l: var(--radius);
		--nav-width: 275px;
	}
}

.app-header__account {
	display: none;
}

.nav nav a {
	padding-inline-end: 0;
	padding-inline-start: 0;
}

.hamburger__wrapper {
	background-color: var(--theme-elevation-100);
	border: 1px solid var(--theme-elevation-200);
}

.hamburger:before {
	background-color: var(--theme-elevation-100);
	border: 1px solid var(--theme-elevation-200);
}

.hamburger:after {
	background-color: var(--theme-elevation-100);
	border: 1px solid var(--theme-elevation-200);
}

.nav-group__indicator svg .stroke {
	stroke: var(--theme-elevation-700);
}

.nav-group__label {
	color: var(--theme-elevation-600);
	font-weight: 300;
}

.nav__link {
	color: var(--theme-elevation-900);
}

.nav__link.active {
	font-weight: 600;
}

.nav {
	background-color: var(--theme-elevation-100);
}

.dashboard__label {
	font-family: var(--font-body);
}

.card {
	background-color: var(--theme-elevation-100);
	border: 1px solid var(--theme-elevation-200);
}

.card__title {
	font-family: var(--font-body);
}

.btn--style-primary {
	background-color: var(--theme-elevation-900);
	color: var(--theme-elevation-100);
}

.field-type.text:not(.has-many) input {
	border: 1px solid var(--theme-elevation-200);
}

.collapsible {
	border-radius: 4px;
}

.collapsible__content {
	background-color: var(--theme-elevation-0);
}

.collapsible--style-default > .collapsible__toggle-wrap .collapsible__toggle {
	background-color: var(--theme-elevation-50);
}

.collapsible--style-default {
	border: 1px solid var(--theme-elevation-200);
}

.table tbody tr:nth-child(odd) {
	background-color: var(--theme-elevation-50);
}

.editor {
	font-family: var(--font-body);
}

.toast-success {
	border: var(--primary);
	background-color: var(--primary-foreground);
	color: var(--primary);
}

.toast-success .toast-icon svg path {
	fill: var(--primary);
}

.toast-info {
	border: var(--info);
	background-color: var(--info-foreground);
	color: var(--info);
}

.toast-info .toast-icon svg path {
	fill: var(--info);
}

.toast-error {
	border: var(--destructive);
	background-color: var(--destructive-foreground);
	color: var(--destructive);
}

.toast-error .toast-icon svg path {
	fill: var(--error);
}

.toast-warning {
	border: var(--warning);
	background-color: var(--warning-foreground);
	color: var(--warning);
}

.toast-warning .toast-icon svg path {
	fill: var(--warning);
}

.radio-input__styled-radio::before {
	box-sizing: content-box;
}

html {
	font-family: sans-serif;
}
